.authorization-button {
  cursor: pointer;
  text-decoration: none;
  padding: 20px 20px;
  position: relative;
  color: var(--text-color-button);
  border-radius: var(--border-radius-default);
  border: 1px solid var(--background-color-button-add);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  background-color: var(--background-color-button-add);
  font-family: var(--font-family-primary);
  margin-top: 50px;
}

.authorization-text {
  font-size: 30px;
  font-weight: var(--font-weight-bold);
  color: var(--text-color-primary);
  font-family: var(--font-family-primary);
}

.authorization {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authorization-container {
  text-align: center;
  border: 3px solid green;
  padding: 20px;
  height: 150px;
}
